/*
File:			custom.css
Description:	Custom styles for Thesis

BASIC USAGE:

If you have enabled the custom stylesheet in the Thesis options panel, the <body> tag 
will be appended with the "custom" class, like so: <body class="custom">. You can use 
the "custom" class to override *any* CSS declarations contained in the style.css file.

For example, if you wish to change the default link color to green, you would add the 
following declarations to this file:

	.custom a, .custom a:visited { color: #090; }	<--- This makes links green
	.custom a:hover { color: #00f; }	<--- This makes links blue when you mouse over them

WHY THIS WORKS:

By using the "custom" class, you are creating more specific CSS declarations for HTML
elements. CSS styling is applied through rules of specificity, and because declarations
prepended with .custom are more specific, they get applied when the page is rendered!

More information about styling your Thesis installation using this file can be found
in the User's Guide:
	http://diythemes.com/thesis/rtfm/customizing-thesis-with-customcss/
*/

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:regular);
.custom{font-family: 'Droid Sans',Verdana, sans-serif;}
 
.custom div.clear{clear:both;}
.custom div#page div#header{padding:25px 10px 15px 25px;/*width:1024px;margin-left:-15px;*/margin-left:-1.5em;margin-right:-1.5em;background:#e3f2f9;}
 

body.custom { background-color: #69BADE; margin-bottom:3em; }
.custom #container { }
	.custom #page { background: #fff; margin-top:2.5em; padding:0em 1.5em 1.5em 1.5em; border-width:1px;border-style:solid;border-color:#CCC #999 #999 #CCC;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
		.custom #header { padding-top: 0; border: none; background:#EDEDE5;}
		.custom #header .social_icon {width:24px;height:24px;}
		.custom .search_form { }
			.custom .search_form input { font-size: 1.2em; line-height: 1em; width: 100%; padding: 0.308em; }
			.custom .search_form input:focus { background: #e3f2f9; }
		.custom ul.menu {margin-left: -1.6em;margin-right:-1.6em;margin-top:-0.1em; *height: 25px;padding: 3px 0 0 9px; border: 6px solid #14568a; background-color: #8EC641; -moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px; }
			.custom ul.menu li { margin-bottom: 3px; margin-right: 1px; margin-left:15px; background: none; border: none; }
			.custom ul.menu li.current, .custom ul.menu li.current-cat { padding-bottom: 0; }
				.custom ul.menu li.tab a {text-shadow: 1px 1px 1px #14568a;border-style:none;-moz-border-radius:4px; -webkit-border-radius:4px;padding: 0.5em 0.6em 0.4em 0.6em; color: #b9dbf0 !important; background: #14568A;font-weight: bold; letter-spacing: 1px; }
				.custom ul.menu li.tab a:hover {text-shadow: 1px 1px 1px #ccc; color: #14568a !important; background: #e3f2f9; text-decoration: none; }
				.custom ul.menu li.current a { text-shadow: none; color: #000 !important; background: #e3f2f9 !important; }
				.custom ul.menu li.current a:hover { color: #003974 !important; background: #e3f2f9; }
.custom #content {background:#fff; width: 64.6em;overflow:hidden;}
.custom .post_box {/*margin:0 1.1em;*/}
