/*
File:			custom.css
Description:	Custom styles for Thesis

BASIC USAGE:

If you have enabled the custom stylesheet in the Thesis options panel, the <body> tag 
will be appended with the "custom" class, like so: <body class="custom">. You can use 
the "custom" class to override *any* CSS declarations contained in the style.css file.

For example, if you wish to change the default link color to green, you would add the 
following declarations to this file:

	.custom a, .custom a:visited { color: #090; }	<--- This makes links green
	.custom a:hover { color: #00f; }	<--- This makes links blue when you mouse over them

WHY THIS WORKS:

By using the "custom" class, you are creating more specific CSS declarations for HTML
elements. CSS styling is applied through rules of specificity, and because declarations
prepended with .custom are more specific, they get applied when the page is rendered!

More information about styling your Thesis installation using this file can be found
in the User's Guide:
	http://diythemes.com/thesis/rtfm/customizing-thesis-with-customcss/
*/
/*#017BC3
#2361A1*/
/*#14568A*/
/*#EFF6E8*/
/*gray*/
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:regular);
.custom{font-family: 'Droid Sans',Verdana, sans-serif;}
.custom div#content div.center{text-align:center;margin:25px 0;}
.custom div#content div.center small{font-size:0.85em;color:#444;}
.custom div#content div.center img{/*width:620px;*/-ms-interpolation-mode:bicubic;}
.custom div#content_box { border:none; }
.custom div#content div.format_text p {  }
.custom div#content h4{font-size:1.25em;margin: 10px 0 15px 0;color:#222;border-bottom:1px solid #ccc;text-shadow: 1px 1px 0 #ddd;}
.custom h1{color:#14568a;font-family:'Droid Sans',Verdana,sans-serif;text-shadow: 1px 1px 1px #999;}
.custom div.sidebar h3{font-family:'Droid Sans Bold',Verdana,sans-serif;font-size:1.2em;color:#333;font-variant:normal;letter-spacing:0;}
.custom div#sidebars {overflow:hidden;}
.custom blockquote {font-family:'Droid Serif',Verdana,sans-serif;color:#555;text-shadow: 1px 1px 0px #eee;}

.custom div.headline_area p.headline_meta{margin-top:3px;}
.custom div.headline_area p.headline_meta abbr{font-size:1.2em;text-transform:capitalize;text-shadow: 1px 1px 0px #eee;}
.custom div.headline_area h2.entry-title a {color:#2361A1 !important;}

.custom div.clear{clear:both;}
.custom div#page div#header{padding:25px 10px 15px 25px;/*width:1024px;margin-left:-15px;*/margin-left:-1.5em;margin-right:-1.5em;background:#e3f2f9;}
 
body.custom { background-color: #69BADE; margin-bottom:3em; }
.custom #container { }
	.custom #page { background: #fff; margin-top:2.5em; padding:0em 1.5em 1.5em 1.5em; border-width:1px;border-style:solid;border-color:#CCC #999 #999 #CCC;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
		.custom #header { padding-top: 0; border: none; background-color:#EFF6E8 !important;}
		  .custom #logo a {color:#518600 !important; font-family: 'Droid Sans',Verdana, sans-serif;}
		    .custom #tagline{color:#888;}
		.custom ul.menu {margin-left: -1.6em;margin-right:-1.6em;margin-top:-0.1em; *height: 25px;padding: 3px 0 0 9px; border: 6px solid #8EC641;; background-color: #8EC641; -moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px; }
			.custom ul.menu li { margin-bottom: 3px; margin-right: 1px; margin-left:15px; background: none; border: none; }
			.custom ul.menu li.current, .custom ul.menu li.current-cat { padding-bottom: 0; }
				.custom ul.menu li.tab a {border-style:none;font-size:14px !important; color: #FFF !important; background:#8EC641;font-weight: bold;}
				.custom ul.menu li.tab a:hover {text-shadow: 1px 1px 1px #ccc; color: #14568a !important; background: #FFF; text-decoration: none; }
				.custom ul.menu li.current a { text-shadow: none; color: #000 !important; background: #FFFFFF !important; }
				.custom ul.menu li.current a:hover { color: #003974 !important; background: #e3f2f9; }
	   	.custom ul.menu li.rss {margin-top:0px;margin-bottom:-1px;}
  		.custom ul.menu li.rss a, .custom ul.menu li.rss a:visited {font-weight:bold;}
  	
.custom #content {background:#fff; width:600px;overflow:hidden;}
.custom #sidebars {background:#fff; width:300px;overflow:hidden; font-family: 'Droid Sans',Verdana, sans-serif; margin-top:10px;}
