/* 
Title:  Fixes for IE/win
Author: E. Harrison
Author URI: 
*/

/* fixes font-size keyword problem for IE5/Win */
body {
	font-size: x-small; /* IE5 Win */
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	font-size: small;
	}
html>body { /* be nice to Opera */
	font-size: small;
	}

/* fixes styles for IE 6 and IE 7 (please do not remove this part)*/

* html body 	{
		font-size:12px;
		}		
* html #header { 
		padding:10px 0 5px;
		}
* html .description { 
		font-size: 12px; padding:20px 0 0 5em;
		font-style:italic;
		}	
* html #nav li a  {
		padding: 1px 5px 7px 25px ;
		}
* html #maincol	{ 
		float:left;
		padding:50px 0 70px 0;
		}
* html h2.sidebartitle { 
		margin:20px 20px 0 ;
		}	
			
* html .sidebar ul.latest-news {
		margin: -40px 0 0 5px;
		padding: 0;
		}
* html .tags {
		padding: 0 10px 25px;
		}
* html #rightcol #wp-calendar td { 
			font-size:11px;
			}	
* html.tags	{
		padding: 0 10px 25px;
		}
* html .post { 
		float:none;
		}
* html .post h3 { 
		font-size: 180%;
		}
* html .entry img { 
		margin: 10px;
		} 
* html .entry {
		margin: 0;
		padding: 0 0 0 15px;
		}	
* html .entry-inner {
		padding: 0 ;
		}			
* html #footer p { 
		padding: 10px 5px;
		}

* html	#rss {
		position:absolute;
		top:145px;
		right:2px;
		}
* html #cartoon {
		position:absolute;
		top:144px;
		left:20px;
	}
	
*:first-child+html .sidebar ul.latest-news {
		margin: 31px 0 0 5px;
		padding: 0;
	}
	
	

/* self-clearing floats
----------------------------------------------------- */

/* trigger hasLayout and target ie5+6/win only */

* html #nav ul,
* html .sidebar ul li span.date_publish,
* html #footer {
	height: 1%;
	}
